<%- include('../template/head') %>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2>Create Product</h2>
        <form action="/products/create" method="POST">
          <div class="form-group`">
            <label>Product Name</label>
            <input name="name" type="text" class="form-control" placeholder="Enter Product Name" required>
          </div>

          <div class="form-group">
            <label>Base Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Rp.</span>
              </div>
              <input name="base_price" type="number" class="form-control" required>
            </div>
          </div>

          <div class="form-group">
            <label>Product Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Rp.</span>
              </div>
              <input name="price" type="number" class="form-control" required>
            </div>
          </div>

          <div class="form-group">
            <label>Stock</label>
            <input name="stock" type="number" class="form-control" min="1" required>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="5"></textarea>
          </div>

          <button class="btn btn-primary" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
  <%- include('../template/foot') %>